<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WPFYmodem.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser"
               requirePermission="false"/>
    </sectionGroup>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <userSettings>
    <WPFYmodem.Properties.Settings>
      <!-- 串口配置 -->
      <setting name="LastComPort" serializeAs="String">
        <value>COM3</value>
      </setting>
      <setting name="LastBaudRate" serializeAs="String">
        <value>115200</value>
      </setting>
      <setting name="LastDataBits" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="LastStopBits" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="LastParity" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LastFlowControl" serializeAs="String">
        <value>0</value>
      </setting>

      <!-- 应用程序行为 -->
      <setting name="AutoConnect" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoRefreshPorts" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RememberLastFolder" serializeAs="String">
        <value>True</value>
      </setting>

      <!-- 文件路径 -->
      <setting name="LastFolderPath" serializeAs="String">
        <value></value>
      </setting>
      <setting name="LastFileFilter" serializeAs="String">
        <value>所有文件 (*.*)|*.*</value>
      </setting>

      <!-- 传输设置 -->
      <setting name="MaxRetryCount" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="ResponseTimeoutMs" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="PacketSize" serializeAs="String">
        <value>1024</value>
      </setting>
      <setting name="UseCrc16" serializeAs="String">
        <value>True</value>
      </setting>

      <!-- 窗口设置 -->
      <setting name="WindowWidth" serializeAs="String">
        <value>900</value>
      </setting>
      <setting name="WindowHeight" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="WindowLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WindowTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WindowMaximized" serializeAs="String">
        <value>False</value>
      </setting>

      <!-- 日志设置 -->
      <setting name="EnableFileLogging" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LogLevel" serializeAs="String">
        <value>Info</value>
      </setting>
      <setting name="LogMaxDays" serializeAs="String">
        <value>30</value>
      </setting>

      <!-- 界面设置 -->
      <setting name="ShowProgressBar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoScrollLog" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowFileSize" serializeAs="String">
        <value>True</value>
      </setting>

      <!-- 高级设置 -->
      <setting name="EnableDebugMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HexDisplay" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SendDelayMs" serializeAs="String">
        <value>10</value>
      </setting>
    </WPFYmodem.Properties.Settings>
  </userSettings>

  <!-- 运行时配置 -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration"
                          publicKeyToken="b03f5f7f11d50a3a"
                          culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <!-- 调试配置（可选） -->
  <system.diagnostics>
    <sources>
      <source name="WPFYmodem" switchValue="Warning">
        <listeners>
          <add name="console" />
        </listeners>
      </source>
    </sources>
    <trace autoflush="true">
      <listeners>
        <add name="console"
             type="System.Diagnostics.ConsoleTraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>